   <div id="container">
    
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>

    $.ajax({
        url: "{% url 'chartapp:result_api' %}",
        dataType: 'json',
        success: function (data) {

            Highcharts.chart('container', {

                title: {
                    text: 'Chart drawing'
                    },
                series: [{
                    name: "line name",
                    data: data
                    }],

                responsive: {
                    rules: [{
                        condition: {
                            maxWidth: 500
                        },
                        chartOptions: {
                            legend: {
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'bottom'
                            }
                        }
                    }]
                }

            });
        }
    });

    </script>
    </div>
